<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Parallel Suite" parallel="classes" thread-count="3">
    <test name="All Tests">
        <classes>
            <class name="ru.UI.tests.AddCustomerTest"/>
            <class name="ru.UI.tests.SortingTest"/>
            <class name="ru.UI.tests.DeleteTest"/>
        </classes>
    </test>
</suite>